body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: relative;
    height: 50px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-logo {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    position: relative;
    color: white;
}

.background-overlay {
    background-color: rgba(0, 94, 141, 0.568); 
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.image-source {
    font-size: 12px;
    color: #ddd;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 50px; 
    width: 100%;
    bottom: 0;
}

form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

textarea {
    height: 150px;
    resize: vertical; 
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-info {
    max-width: 600px;
}

.work-gallery {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.work-item {
    text-align: center;
}

.work-gallery img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.work-item p {
    margin-top: 10px;
    font-size: 16px;
}
